body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

li {
  list-style-type: none;
}

#short {
    position:relative;
    width:50%;
}

#more {
    position:absolute;
    right:1em;
    top:0;
    text-align:center;
}

#long {
    display:none;
}

#more:hover {
    cursor:pointer;
}
