extends layout

block content
  h1
    a(href='/') Tiny Projects
    | &nbsp; #{title}
  ul(id='projects')
    each project in projects
      li
        a(href='/project?name='+project.name)= project.name
        if(authorised)
            input(type='checkbox', name='delete',value=project.name)
