doctype 5
html
  head
    title= 'Tiny Projects: ' + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/client.js')
  body
    #loginerr
    #loginform
    #search
    span#search_button +show search
    block content
