form#loginform(method='post',action='#')
  fieldset
    label(for='user') Username
    input(type='text',name='user')
    label(for='pass') Password
    input(type='password',name='pass')
    input(type='submit',value='Login')
