extends layout

block content
  h1
    a(id='homelink',href='/') Tiny Projects
    | &nbsp; #{title}
  h1= project.name
  p(id='short')= project.description.short
    span(id='more') +more
  p(id='long')= project.description.long
  p(id='langs')
    | Languages: 
    = project.langs
  p(id='tags')
    | Tagged: 
    = project.tags
